<IfModule mod_rewrite.c>

 RewriteEngine On
 #RewriteCond %{HTTPS} !=on
 #RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
 
 ErrorDocument 404 http://localhost/attendancesystem/404.php


 </IfModule>